{% extends 'user/layout.html.twig' %}

{% block content %}

    <div>
        <a href="{{ path( app.request.locale ~ '_fos_user_profile_show') }}">{{ 'back_button'|trans }}</a>
    </div>

    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock content %}
