{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
<p class="test">test</p>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
   
{% endblock %}