{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="container-fluid">

        {{ render(controller('AppBundle:Default:langSwitches', {'route':app.request.get('_route'), 'params': app.request.get('_route_params') } )) }}

        {% block content %}{% endblock %}

    </div>
{% endblock %}