{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="container-fluid">

        {{ render(controller('AppBundle:Elements:langSwitches', {'uri':app.request.requestUri } )) }}

        {% block content %}{% endblock %}

    </div>
{% endblock %}