{% extends 'default/layout.html.twig' %}

{% block content %}
    <div>
        <a href="{{ path( app.request.locale ~ '_fos_user_profile_show') }}">{{ 'back_button'|trans }}</a>
    </div>

    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock content %}
