{% extends 'user/layout.html.twig' %}

{% block content %}
    <h1>hello world</h1>

    {% for matrix in matrices %}
        <div>
            <a href="{{ path( app.request.locale ~ '_swot', { id: matrix.id }) }}">{{ matrix.name }}</a>
        </div>
    {% endfor %}


{% endblock %}