html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -55px; /* equal to footer height */
}

#wrapper:after {
    content: "";
    display: block;
}

#wrapper:after {
    height: 51px;
}

footer p {
    margin-top: 7px;
    margin-bottom: 0;
    float: left;
}

#contact-button {
    float: right;
}