body {
    /*!* Background pattern from subtlepatterns.com *!*/
    /*background-image: url("../../img/agsquare.png");*/
    background-color: #e7e7e7;
}

.container-fluid {
    max-width: 1200px;
}

#content > .row > .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background-color: #f6f6f6;
}

.jumbotron h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
}

.jumbotron p {
    font-size: 16px;
}