@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }

    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    nav .btn-group {
        margin-left: 5px;
    }

    .nav>li>a {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 992px) {
    nav .btn-group {
        margin-left: 20px;
    }
    .nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    #lang-switches {
        display: block;
    }
}