#swot-table {
    margin: 2%;
}
@media (min-width: 768px) {
    #swot-table .row {
        display: flex; /* equal height of the children */
    }
}


/* all */
#swot-table > div > div {
    padding: 10px;
}

/* col 1 */
#blank,
#internal,
#external {

}

/* col 2 */
#helpful,
#strengths,
#opportunities {

}

/* col 3 */
#harmful,
#weaknesses,
#threats {

}

#blank {

}

#helpful {
    background-color: #D0F3AE;
}

#harmful {
    background-color: #F9A9A9;
}

#internal {
    background-color: #FEF6B9;
}

#strengths,
#strengths input {
    background-color: #E2EF88;
}

#weaknesses {
    background-color: #FAC285;
}

#external {
    background-color: #C7D9EC;
}

#opportunities {
    background-color: #ABD2BB;
}

#threats {
    background-color: #C3A5B8;
}

.swot-list {
    padding-left: 10px;
}

#strengths input:focus {
    background-color: white;
}
#strengths input:hover {
    background-color: white;
}

.list-head {
    margin-bottom: 30px;
}

.list-title  {
    float: left;
    font-weight: 700;
}
.add-button {
    cursor: pointer;
    float: right;
}



.swot-list li{
    position: relative;
}
.swot-list li input {
    padding-right: 48px;
    padding: 3px;
    border: none;
    width: 100%
}
.remove-button {
    position: absolute;
    bottom: 2px;
    right: 0px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: red;
}
