
.swot-matrix #a2-cell {
    background-color: #D0F3AE;
}

.swot-matrix #a3-cell {
    background-color: #F9A9A9;
}

.swot-matrix #b1-cell {
    background-color: #FEF6B9;
}

.swot-matrix #b2-cell {
    background-color: #E2EF88;
}

.swot-matrix #b3-cell {
    background-color: #FAC285;
}

.swot-matrix #c1-cell {
    background-color: #C7D9EC;
}

.swot-matrix #c2-cell {
    background-color: #ABD2BB;
}

.swot-matrix #c3-cell {
    background-color: #C3A5B8;
}

