@media screen and (min-width: 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding: 24px 30px;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    margin-bottom: 3px;
}

#page-content {
    padding-top: 48px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#matrix {
    overflow: auto;
    border-radius: 0;
    font-family: sans-serif; /* for html2canvas */
}

#control-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    #matrix .matrix-row {
        display: flex;
    }
}

#m-table {
    margin-top: 15px;
}

#m-name input {
    height: auto;
    font-size: 26px;
}

.matrix-cell {
    min-height: 185px;
    padding: 10px;
}

.list-head {
    display: inline-block;
    margin-bottom: 30px;
}

.list-title .form-control {
    font-weight: 700;
}

.matrix-cell ul {
    list-style-type: none;
    padding: 0;
}

.matrix-cell .form-control,
.matrix-cell input,
.add-button {
    padding: 3px 6px;
    height: 28px;
}

.add-button {
    border-radius: 4px;
}

.matrix-item,
.add-button-item {
    margin-top: 3px;
}

/* button */
.matrix-item input {
    width: 92%;
}

@media (min-width: 400px) {
    .matrix-item input {
        width: 93%;
    }
}

@media (min-width: 600px) {
    .matrix-item input {
        width: 94%;
    }
}

@media (min-width: 992px) {
    .matrix-item input {
        width: 95%;
    }
}

@media (min-width: 1200px) {
    .matrix-item input {
        width: 96%;
    }
}

.matrix-cell input {
    display: inline-block;
}

.list-title input {
    width: 95%;
}

.remove-button,
.add-button {
    text-align: center;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.remove-button:before {
    margin-left: 0;
    margin-right: 0;
}

.add-button {
    width: 100%;
}

/* input color */
input.form-control {
    color: #333;
}

.matrix-cell input.form-control {
    background-color: transparent;
}

.matrix-cell input:focus {
    background-color: white;
}

.list-title:hover input,
.matrix-item:hover input,
.add-button:hover {
    background-color: whitesmoke;
}

.matrix-cell input:hover {
    background-color: white;
}

.matrix-cell input,
.matrix-cell .form-control {
    box-shadow: 0 0 0 #888888;
    border: none;
}

/* placeholder */
.list-title input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333;
}

.list-title input::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}

.list-title input:-ms-input-placeholder { /* IE 10+ */
    color: #333;
}

.list-title input:-moz-placeholder { /* Firefox 18- */
    color: #333;
}

.list-title input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b3b3b3;
}

.list-title input:focus::-moz-placeholder { /* Firefox 19+ */
    color: #b3b3b3;
}

.list-title input:focus:-ms-input-placeholder { /* IE 10+ */
    color: #b3b3b3;
}

.list-title input:focus:-moz-placeholder { /* Firefox 18- */
    color: #b3b3b3;
}

/* */
.prototype-item {
    display: none;
}