@media screen and (min-width: 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding: 24px 30px;
    }
}
.container .jumbotron, .container-fluid .jumbotron {
    margin-bottom: 3px;
}

#page-content {
    padding-top: 48px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#matrix {
    overflow: auto;
    border-radius: 0;
}

#control-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 60px;
}


@media (min-width: 768px) {
    #matrix .matrix-row {
        display: flex;
    }
}

#m-table {
    margin-top: 20px;
}

#m-name input {
    height: auto;
    font-size: 26px;
}

.matrix-cell {
    min-height: 185px;
    padding: 10px;
}

.list-head {
    display: inline-block;
    margin-bottom: 30px;
}

.list-title .form-control {
    font-weight: 700;
}

.matrix-cell ul {
    padding-left: 20px;
}

.matrix-cell .form-control,
.matrix-cell input {
    padding: 5px 10px;
    height: 28px;
}

.matrix-item {
    margin-top: 3px;
}

/* button */
.matrix-cell input {
    width: 93%;
}

.remove-button,
.add-button {
    width: 5%;
}

@media (min-width: 555px) {
    .matrix-cell input {
        width: 94%;
    }

    .remove-button,
    .add-button {
        width: 5%;
    }
}

@media (min-width: 768px) {
    .matrix-cell input {
        width: 90%;
    }

    .remove-button,
    .add-button {
        width: 8%;
    }
}

@media (min-width: 992px) {
    .matrix-cell input {
        width: 93%;
    }

    .remove-button,
    .add-button {
        width: 5%;
    }
}

@media (min-width: 1200px) {
    .matrix-cell input {
        width: 94%;
    }

    .remove-button,
    .add-button {
        width: 5%;
    }
}

.matrix-cell input {
    display: inline-block;
}

.remove-button,
.add-button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.matrix-cell .list-title {
    padding-right: 1px;
}

/* input color */
input.form-control {
    color: #333;
}

.matrix-cell input.form-control {
    background-color: transparent;
}

.matrix-cell input:focus {
    background-color: white;
}

.list-title:hover input,
.matrix-item:hover input {
    background-color: whitesmoke;
}

.matrix-cell input:hover {
    background-color: white;
}

.matrix-cell input,
.matrix-cell .form-control {
    box-shadow: 0 0 0 #888888;
    border: none;
}

/* placeholder */
.list-title input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333;
}

.list-title input::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}

.list-title input:-ms-input-placeholder { /* IE 10+ */
    color: #333;
}

.list-title input:-moz-placeholder { /* Firefox 18- */
    color: #333;
}

.list-title input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b3b3b3;
}

.list-title input:focus::-moz-placeholder { /* Firefox 19+ */
    color: #b3b3b3;
}

.list-title input:focus:-ms-input-placeholder { /* IE 10+ */
    color: #b3b3b3;
}

.list-title input:focus:-moz-placeholder { /* Firefox 18- */
    color: #b3b3b3;
}

/* */
.prototype-item {
    display: none;
}