{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 jumbotron">

            {% include "_page_content.html.twig" %}

            {% include "_flash_messages.html.twig" %}
            <div>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.file) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}